.rounded-img {
    width: 3em;
    border-radius: 30%;
  }
  .bi-folder-plus {
    font-size: 300%;
  }
  .left-panel {
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
    padding: 0.6em;
  }
  .center-panel {
    background-color: bg-light;
    margin-left: 5px;
    margin-right: -5px;
  }
  .card-upgrade {
    background-color: rgba(0, 0, 0, 0.104);
    background: linear-gradient(
      to bottom,
      white 10%,
      rgba(0, 0, 0, 0.07) 90%
    );
    border-radius: 5%;
    padding-bottom: 10%;
  }
  .card-body-courses {
    height: 17em;
  }
  .card-body {
    outline: 0;
  }
  .to-bottom {
    bottom: -9em;
    position: relative;
    min-height: 80%;
  }
  .teacher-img {
    width: 2em;
    border-radius: 50%;
  }
  .search-box {
    background-color: white;
    width: 50%;
    padding-left: 10px;
    border-radius: 15px;
  }
  .search-box input {
    width: 100%;
    outline: none;
    border: 0;
  }
  .user-img {
    margin-left: 2%;
  }
  .text-progress {
    padding-bottom: 1%;
    margin-top: 2%;
    font-size: small;
    line-height: 10%;
  }
  .text-progress label {
    color: gray;
  }
  .progress-div i {
    padding: 40%;
    border-radius: 20%;
  }
  .active-page-course {
    color: blue;
  }
  .active-page-course:after {
    content: "";
    display: block;
    margin: auto;
    width: 40%;
    border-bottom: 4px solid blue;
  }
  .active-left-menu {
    font-weight: bold;
    border-right: 4px solid blue;
  }
  .active-left-menu i {
    color: rgba(0, 0, 0, 0.2);
  }
  .active-left-menu button {
    font-weight: bold;
  }